.box {width:78%; height:65%; background-color: red;
position: absolute;}

.box1 {width:20%; height:30%; background-color: white;
position: absolute;}

.box2 {width:20%; height:31%; background-color: blue;
position: absolute;}

.box3 {width:60%; height:31%; background-color:white;
position: absolute;}

.box4 {width:16%; height:14%; background-color:white;
position: absolute;}


.box-center {width: 100%; height: 100%; background-color:black;
position: fixed;
top: 10px;}

.box-center1 {width: 100%; height: 100%; background-color:blue;
position: absolute;
top: 10px;}

position: relative 
position: absolute
position: fixed